root {
    --font-color-grey : #ABB2BF;
}
*,h1,h2,h3,h4,h5,h6,p,a,button,span {
    font-family: Montserrat, serif;
}
body {
    max-width: 1366px;
    margin: auto;
    background: #282C33;
}
main {
    width: 100%;
    margin: auto;
}
.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 30px;
    text-decoration: none;

}

.links a {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 30px;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}


